body { 
    background: #AAAAAA;
    }
    
    .tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9, .tile10, .tile11, .tile12, .tile13, .tile14, .tile15, .tile16, .tile17, .tile18, .tile19, .tile20, .tile21, .tile22, .tile23, .tile24, .tile25 {
      display: table-cell;
      width: 72px;
      height: 72px;
      border: 1px solid white;
      background: url("https://i.imgur.com/CmFuOpx.png"); 
      cursor: pointer;
    }
    
    .tile1 {background-position:      0     0;}
    .tile2 {background-position:   -72px    0;}
    .tile3 {background-position:   -144px   0;}
    .tile4 {background-position:   -216px   0;}
    .tile5 {background-position:   -288px   0;}
    .tile6 {background-position:    0    -72px;}
    .tile7 {background-position:  -72px  -72px;}
    .tile8 {background-position:  -144px -72px;}
    .tile9 {background-position:  -216px -72px;}
    .tile10{background-position:  -288px -72px;}
    .tile11{background-position:    0    -144px;}
    .tile12{background-position:  -72px  -144px;}
    .tile13 {background-position: -144px -144px;}
    .tile14 {background-position: -216px -144px;}
    .tile15 {background-position: -288px -144px;}
    .tile16 {background-position:    0   -216px;}
    .tile17 {background-position: -72px  -216px;}
    .tile18 {background-position: -144px -216px;}
    .tile19 {background-position: -216px -216px;}
    .tile20 {background-position: -288px -216px;}
    .tile21 {background-position:  0     -288px;}
    .tile22 {background-position: -72px  -288px;}
    .tile23 {background-position: -144px -288px;}
    .tile24 {background-position: -216px -288px;}
    .tile25 {background: white; cursor: default;}
    