:root {
  --colorShadeA: rgb(106, 163, 137);
  --colorShadeB: rgb(121, 186, 156);
  --colorShadeC: rgb(150, 232, 195);
  --colorShadeD: rgb(187, 232, 211);
  --colorShadeE: rgb(205, 255, 232);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

.container {

  width: 80%;
  padding:0 15px;
  margin: auto;

}

.flex{
  display: flex;
}

.flex_vertical{
  flex-direction: column;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
    color:var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
  margin: 8px;
}

button.big-button {
   padding: 1em 2em;
   border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
transform-style: preserve-3d;
   transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.big-button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
 transform: translate3d(0, 0.75em, -1em);
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
}


button.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

button.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
            transform: translate(0em, 0.75em);
}

button.big-button:active::before {
  transform: translate3d(0, 0, -1em);
  
      box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);

}


img{
  width: 220px;
  height: 250px;
  margin: 10px;
  margin-top: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
 
    
    .tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9, .tile10, .tile11, .tile12, .tile13, .tile14, .tile15, .tile16, .tile17, .tile18, .tile19, .tile20, .tile21, .tile22, .tile23, .tile24, .tile25 {
      display: table-cell;
      width: 72px;
      height: 72px;
      border: 1px solid white;
      background: url("https://i.imgur.com/CmFuOpx.png"); 
      cursor: pointer;
    }
    
    .tile1 {background-position:      0     0;}
    .tile2 {background-position:   -72px    0;}
    .tile3 {background-position:   -144px   0;}
    .tile4 {background-position:   -216px   0;}
    .tile5 {background-position:   -288px   0;}
    .tile6 {background-position:    0    -72px;}
    .tile7 {background-position:  -72px  -72px;}
    .tile8 {background-position:  -144px -72px;}
    .tile9 {background-position:  -216px -72px;}
    .tile10{background-position:  -288px -72px;}
    .tile11{background-position:    0    -144px;}
    .tile12{background-position:  -72px  -144px;}
    .tile13 {background-position: -144px -144px;}
    .tile14 {background-position: -216px -144px;}
    .tile15 {background-position: -288px -144px;}
    .tile16 {background-position:    0   -216px;}
    .tile17 {background-position: -72px  -216px;}
    .tile18 {background-position: -144px -216px;}
    .tile19 {background-position: -216px -216px;}
    .tile20 {background-position: -288px -216px;}
    .tile21 {background-position:  0     -288px;}
    .tile22 {background-position: -72px  -288px;}
    .tile23 {background-position: -144px -288px;}
    .tile24 {background-position: -216px -288px;}
    .tile25 {background: white; cursor: default;}
    